{% extends '::base.html.twig' %}

{% block body -%}
    <div class="register-success">
        <div class="container-fluid">
            <legend>
                Registration successful
            </legend>
            {% if isConfirmed is defined %}
                Your mail successfully confirmed.
            {% else %}
                To confirm your e-mail, check mail.
            {% endif %}
        </div>
    </div>
{% endblock %}
