<div class="container-fluid">
    <div class="header">
        Hello, {{ firstName }} {{ surname }}.
    </div>
    <div class="body">
        If you want to confirm your registration with username {{ username }}, go to link {{ confirmationLink }}
    </div>
</div>