{% extends 'base.html.twig' %}
{% block body %}
    <div class="profile">
        <div class="container-fluid">
            <h1>Profile</h1>
            <hr />
            <b>Role:</b> {{ user ? user.getRoleName() : '' }}<br/>
            <b>Username:</b> {{ user ? user.getUsername() : '' }}<br/>
            <b>First Name:</b> {{ user ? user.getFirstName() : '' }}<br/>
            <b>Last Name:</b> {{ user ? user.getSurname() : '' }}
            <hr />
            <a class="btn btn-lg btn-default" href="/logout">
                Log out
            </a>
        </div>
    </div>
{% endblock %}