{% extends 'base.html.twig' %}
{% block body %}
    <div class="profile">
        <div class="container-fluid">
            <legend><h1>Profile</h1></legend>
            <a class="btn btn-lg btn-default" href="/logout">
                Log out
            </a>
        </div>
    </div>
{% endblock %}