{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="container-fluid">
            <div class="home">
                <legend><h1>Homepage</h1></legend>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice text-warning">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <hr>
                <div id="notifier">
                    {{ include('notifiers/notifier.html.twig') }}
                </div>
                {% if url is defined %}
                    {{ url }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
