{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="container-fluid">
            <div class="home">
                <legend><h1>Homepage</h1></legend>
                <div id="notifier">
                    {{ include('notifiers/notifier.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
