<div class="navigation">
    <div class="container-fluid">
        <nav class="nav navigation-panel">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse-9">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home">
                        <img alt="Home" src="{{ asset('assets/vendor/icons/favicon.ico') }}"/>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-9">
                    <ul class="nav navbar-nav">
                        {% if not app.user %}
                            <li><a href="/register">Registration</a></li>
                            <li><a href="/login">Authorization</a></li>
                        {% endif %}
                        <li><a href="/repair_orders">Orders</a></li>
                        {% if app.user and is_granted('ROLE_MANAGER') %}
                            <li><a href="/manager">Manager page</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li><a href="/logout">Log out</a></li>
                        {% endif %}
                        <li><a href="/profile">Profile</a></li>
                    </ul>
                </div>
            </nav>
        </nav>
    </div>
</div>