<div class="container-fluid">
    <div class="header">
        Hello {{ firstName }} {{ surname }}.
    </div>
    <div class="body">
        If you want to confirm your registration, go to link <a href="{{ confirmationLink }}"></a>
    </div>
</div>