{% extends '::base.html.twig' %}

{% block body -%}
    <div class="manager">
        <div class="container-fluid">
            <legend>
                Manager page
            </legend>
        </div>
    </div>
{% endblock %}
