{% extends '::base.html.twig' %}

{% block body -%}
    <div class="register-success">
        <div class="container-fluid">
            <legend>
                Registration successful
            </legend>
            To confirm your e-mail, check mail.
        </div>
    </div>
{% endblock %}
