<div class="register">
    <h1>Authorization</h1>
    <hr/>
    <div class="register-form">
        <div class="text-danger" ng-show="hasError">
            {{error}}
            {{errorMessage}}
            {{lastUsername}}
            <hr>
        </div>
        <div class="text-warning" ng-show="hasMessage">
            {{message}}
            <hr>
        </div>
        <form name="authorizationForm" ng-submit="login()">
            <div class="form-group">
                <label for="username">Username</label>
                <input ng-model="user.username" type="text" id="username" name="username" class="form-control"
                       placeholder="Input Username" required/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input ng-model="user.password" type="password" id="password" name="password" class="form-control"
                       placeholder="Input Password" required/>
            </div>
            <button class="btn btn-default" type="submit">Login</button>
        </form>
    </div>
</div>