<div class="orderCreation">
    <h1>Order creation</h1>
    <hr/>
    <div class="order-creation-form">
        <div class="text-danger" ng-show="hasError">
            {{error}}
            <hr>
        </div>
        <div class="text-warning" ng-show="hasMessage">
            {{message}}
            <hr>
        </div>
        <form name="orderCreationForm" ng-submit="create()">
            <div class="form-group">
                <label for="newOrderCompany">Company</label>
                <select ng-model="companies" class="form-control" id="newOrderCompany"
                        ng-init="companies = companies || options[0].value"
                        ng-options="company.name for company in currentUser.companies"
                        ng-change="companyChange(companies.id)">>
                </select>
            </div>
            <div class="form-group">
                <label for="newOrderPlace">Place</label>
                <select ng-model="company.places" class="form-control" id="newOrderPlace"
                        ng-init="places = places || options[0].value"
                        ng-options="place.name for place in places">
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea ng-model="description" class="form-control" id="description" placeholder="Input description" required></textarea>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input ng-model="address" class="form-control" type="text" id="address" placeholder="Input address" required/>
            </div>
            <button class="btn btn-default" type="submit">Create</button>
        </form>
    </div>
</div>