<div ng-include="'html/views/orderDelete.html'"></div>

<div class="orders">
    <h1>Order {{order.id}}</h1>
    <hr>
    <hr>
    <div class="text-danger" ng-show="hasError">
        {{error}}
        <hr>
    </div>
    <div class="text-warning" ng-show="hasMessage">
        {{message}}
        <hr>
    </div>
    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>{{order.id}}</td>
        </tr>
        <tr>
            <td>User</td>
            <td>{{order.user.username}}</td>
        </tr>
        <tr>
            <td>Company</td>
            <td>{{order.company.name}}</td>
        </tr>
        <tr>
            <td>Place</td>
            <td>{{order.place.name}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{order.description}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{order.address}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{order.status}}</td>
        </tr>
        <tr>
            <td>Engineer</td>
            <td>{{order.engineer.username}}</td>
        </tr>
        <tr>
            <td>Start date</td>
            <td>{{order.startDate}}</td>
        </tr>
        <tr>
            <td>End date</td>
            <td>{{order.endDate}}</td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>{{order.comment}}</td>
        </tr>
    </table>
    <a class="col-md-6 col-xs-12 btn btn-default" ng-click="deleteOrder(order.id)">Delete</a>
    <a class="col-md-6 col-xs-12 btn btn-default" ng-href="#/orders/{{order.id}}/edit">Edit</a>
</div>